# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.pyd

# Virtual environments
.venv/
env/
venv/

# PyCharm files
.idea/

# Installer info
*.egg-info/
dist/
build/

# Logs
*.log
